<transition name="vt-confirm-fade">
    <div class="vt-confirm" v-show="visible">
        <transition name="vt-confirm-zoomOut">
            <div class="vt-confirm__container" v-show="visible">
                <p class="vt-confirm__title" :class="{'vt-confirm__title--text': text}">
                    <strong class="vt-confirm__title--bold">{{title}}</strong>
                </p>
                <p class="vt-confirm__info" v-if="text">
                    <span class="vt-confirm__info--left">{{text}}</span>
                </p>
                <div class="vt-confirm__button">
                    <a class="vt-confirm__button--ok" href="javascript:;" @click="$emit('hide', true)" @touchstart="changeBgColor('add', 0, $event)" @touchend="changeBgColor('remove', 150, $event)">{{buttonOkText}}</a>
                    <a class="vt-confirm__button--cancel" href="javascript:;" @click="$emit('hide', false)" @touchstart="changeBgColor('add', 0, $event)" @touchend="changeBgColor('remove', 150, $event)">{{buttonCancelText}}</a>
                </div>
            </div>
        </transition>
    </div>
</transition>
