.vt-header {
    position: relative;
    display: flex;
    height: 88px;
    padding: 0 20px;
    color: #fff;
    font-size: 36px;
    align-items: center;
    z-index: 99;
}
.vt-header__left {
    display: flex;
    flex: .5;
    justify-content: flex-start;
}
.vt-header__right {
    display: flex;
    flex: .5;
    justify-content: flex-end;
}
.vt-header__center {
    flex: 1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
